.DS_Store
node_modules
npm*.log
yarn*.log
report.*
.eslintcache

# editors
*.swp
.idea
coverage/
.nyc_output/
test-libraries/
test/manualtest.js

# lock files
package-lock.json
shrinkwrap.yaml
pnpm-lock.yaml
yarn.lock
