name: Release new version
on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/release-new-version.yml"
      - "src/**"
      - "types/**"
      - "package.json"

jobs:
  updateVersion:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Configure git
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      - run: bun install --frozen-lockfile

      - name: Typecheck
        run: bun run config typecheck

      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm version patch --allow-same-version
          npm config set //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}
          npm publish
          git push
          git push --tags --force
          gh release create "v$(node -p -e "require('./package.json').version")"
